<strong>Hello, {{ name }}</strong>
<p>First of all, we would like to welcome you to Gympoint!</p>

<p>We know that the decision for a gym involves a lot of factors and we are delighted that you chose our gym center.</p>

<p>From your start date you will enjoy our facilities and equipment.</p>
</p>
<p>
  <strong>Plan:</strong> {{ planName }} <br />
  <strong>Duration:</strong> {{ planDuration }} m<br />
  <strong>Start date:</strong> {{ start_date }} <br />
  <strong>End date:</strong> {{end_date}}<br />
  <strong>Price:</strong> U$ {{totalPrice}} (U$ {{planPrice}}/month)  <br />
</p>